.task {
    background-color: rgb(247, 247, 247);
    font: 100 1.1rem sans-serif;
    padding: 20px;
    margin: 1vmax;
    color: rgba(0, 0, 0, 0.868);
    display: flex;
    align-items: center;
    border-radius: 15px;
}

.task > div {
    width: 100%;
}

.task p {
    margin-bottom: 10px;
}

.task span {
    color: rgb(0, 0, 0, 0.632);
}

.deleteBtn {
    border-radius: 100%;
    width: 30px;
    height: 30px;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: crimson;
}